html, body, #root, .App {
  
}
#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  flex-direction: column;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bi-cart {
  font-size: 35px;
  color: rgb(255, 0, 0);
}

.bi-person {
  font-size: 35px;
  color: rgb(255, 0, 0);
}

.contenedorProductos{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
 
  
}

.tarjeta2{
  width:300px;
      display: flex;
      flex-direction: column;
      text-align: center;
      box-shadow: 1px 1px 12px 0 rgba(0,0,0,0.2);
      margin: 10px;
      padding: 10px;
}

.nombreProducto{
  padding: 3px;
  color: black; 
}

.precioProducto{
  padding: 3px;
  color: red;
}
.skuProducto{
  padding: 3px;
  color: black;
}

.agregarAlCarrito{
  display: flex;
  flex-direction: column;
}


.cantidadAgregarCarrito{
  margin: 10px;
  display: flex;
  justify-content: center;
  justify-items:baseline
}

.cantidadAgregar {
  width: 30px;
  height: 25px;
  text-align: center;
  background-color: white;
  border: none;
  color: black;

}
.cantidadMenos { 
  width:25px; 
  height:25px;
  background-color: red;
  border: none;
}
.cantidadMas { 
  width:25px; 
  height:25px;
  background-color: red;
  border: none;
}
.botonAgregarAlCarrito{
  background-color: red;
  border: none;
}
.detalleProducto{
  display: flex;
  justify-content: center;

}
.agregarCarritoDetalle{
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.nombreProductoDetalle{
  margin-top: 100px;
  font-size: 24px;
}
.precioProductoDetalle{
  margin-top: 30px;
  font-size: 35px !important;
}

.imagenItem{
  width: 30% ;
}

.loaderRayo{
  display: flex;
  justify-content: center;
}

.cantidadCarrito{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: red;
  color: white;
  font-size: 18px;
  font-weight: 500;
  width: 30px;
  height: 30px;
}

.linksMenu a{
  list-style: none;
  color: rgb(66, 66, 66);
  font-size: 25px;
  margin: 20px;

}
.linksMenu{
  list-style: none;
  margin: 20px;

}